body {
    background: #eee;
}

form {
    max-width: 200px;
    margin: 40px auto;
    background: white;
    padding: 10px;
}

input {
    display: block;
    margin: 10px auto;
    padding: 4px;
}

.success {
    border: 5px solid rgb(32, 138, 32);
}

.error {
    border: 5px solid rgb(173, 20, 20);
}